In [27]:
# G1 Capstone Project_Stat

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
retail_df = pd.read_csv('D:\Data Science bootcamp\Git\stat_capstone\synthetic_retail_data.csv')
print(retail_df.head())

   InvoiceNo CustomerID      Date ProductCategory  Quantity  UnitPrice  \
0  INV105646   CUST1810  1/1/2023            Home         7      67.88
1  INV105099   CUST1530  1/1/2023            Toys         6      24.22
2  INV102818   CUST1701  1/1/2023     Electronics         6     158.78
3  INV107351   CUST1323  1/1/2023     Electronics         5     102.23
4  INV108415   CUST1406  1/1/2023     Electronics         8      62.32

   DiscountApplied  ReviewRating  IsFirstPurchase MarketingChannel  ...  \
0             44.6           4.0                0          Organic  ...
1              0.0           2.0                1           Social  ...
2             25.9           5.0                1            Email  ...
3             39.0           3.0                1           Social  ...
4             26.7           4.0                0            Email  ...

  ItemsInCart  PreviousSpending  BrowsingSessions  TotalAmount  Unnamed: 17  \
0           7            186.55                 3       270.08          NaN
1           8              0.00                 3       155.16          NaN
2           6              0.00                 3       719.29          NaN
3           6              0.00                 5       324.19          NaN
4           8            371.94                 4       387.06          NaN

   Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22
0    218.92136          NaN       475.16    211.92136       270.08
1      8.00000          NaN       145.32      0.00000       155.16
2    252.74412          NaN       952.68    246.74412       719.29
3    205.34850          NaN       511.15    199.34850       324.19
4    141.11552          NaN       498.56    133.11552       387.06

[5 rows x 23 columns]

In [30]:
print(retail_df.info())
print(retail_df.describe().T)
print(retail_df.isnull().sum())
print(retail_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         9500 non-null   object
 1   CustomerID        9500 non-null   object
 2   Date              9500 non-null   object
 3   ProductCategory   9500 non-null   object
 4   Quantity          9500 non-null   int64
 5   UnitPrice         9500 non-null   float64
 6   DiscountApplied   9500 non-null   float64
 7   ReviewRating      7835 non-null   float64
 8   IsFirstPurchase   9500 non-null   int64
 9   MarketingChannel  9028 non-null   object
 10  Country           9500 non-null   object
 11  TimeOnSite        9025 non-null   float64
 12  ShippingCost      9500 non-null   float64
 13  ItemsInCart       9500 non-null   int64
 14  PreviousSpending  9500 non-null   float64
 15  BrowsingSessions  9500 non-null   int64
 16  TotalAmount       9500 non-null   float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       1229 non-null   float64
 19  Unnamed: 19       0 non-null      float64
 20  Unnamed: 20       1229 non-null   float64
 21  Unnamed: 21       1229 non-null   float64
 22  Unnamed: 22       1229 non-null   float64
dtypes: float64(13), int64(4), object(6)
memory usage: 1.7+ MB
None
                   count        mean          std    min       25%        50%  \
Quantity          9500.0    9.166105     5.267773   1.00    6.0000    9.00000
UnitPrice         9500.0   58.459586    42.140771  10.06   31.3500   43.67500
DiscountApplied   9500.0   18.181400    18.531475   0.00    0.0000   13.60000
ReviewRating      7835.0    3.481302     1.062269   1.00    3.0000    4.00000
IsFirstPurchase   9500.0    0.302842     0.459512   0.00    0.0000    0.00000
TimeOnSite        9025.0  299.567878   118.555281  30.00  218.9000  296.80000
ShippingCost      9500.0   10.041306     4.875580   0.00    6.6300    9.96000
ItemsInCart       9500.0    9.671474     3.528830   1.00    7.0000    9.00000
PreviousSpending  9500.0  209.090296   161.318720   0.00    0.0000  241.93000
BrowsingSessions  9500.0    3.064737     1.440587   1.00    2.0000    3.00000
TotalAmount       9500.0  484.463016   940.646765  20.26  199.9175  309.13500
Unnamed: 17          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 18       1229.0  118.408726   324.272927   1.00    9.0000   39.83435
Unnamed: 19          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 20       1229.0  514.096843  1025.410356  17.29  201.3600  322.84000
Unnamed: 21       1229.0  109.913201   323.909985   0.00    0.0000   32.54940
Unnamed: 22       1229.0  414.071367   851.946687  20.26  170.3800  272.66000

                        75%         max
Quantity           11.00000     80.0000
UnitPrice          73.66000    672.4000
DiscountApplied    34.80000     55.0000
ReviewRating        4.00000      5.0000
IsFirstPurchase     1.00000      1.0000
TimeOnSite        379.80000    739.1000
ShippingCost       13.31250     29.3000
ItemsInCart        12.00000     25.0000
PreviousSpending  336.72250    632.0200
BrowsingSessions    4.00000      8.0000
TotalAmount       518.38500  34231.0400
Unnamed: 17             NaN         NaN
Unnamed: 18       143.59062   8560.1224
Unnamed: 19             NaN         NaN
Unnamed: 20       543.72000  18916.2000
Unnamed: 21       135.54695   8550.1224
Unnamed: 22       430.98000  17907.4200
InvoiceNo              0
CustomerID             0
Date                   0
ProductCategory        0
Quantity               0
UnitPrice              0
DiscountApplied        0
ReviewRating        1665
IsFirstPurchase        0
MarketingChannel     472
Country                0
TimeOnSite           475
ShippingCost           0
ItemsInCart            0
PreviousSpending       0
BrowsingSessions       0
TotalAmount            0
Unnamed: 17         9500
Unnamed: 18         8271
Unnamed: 19         9500
Unnamed: 20         8271
Unnamed: 21         8271
Unnamed: 22         8271
dtype: int64
0

Project Overview
This capstone project serves as the culmination of your learning journey in Statistics for Data Analytics. You will apply the complete range of statistical and analytical techniques covered in this course to a real-world e-commerce dataset.

The objective is to replicate the end-to-end workflow of a professional data analyst:

Clean and prepare messy business data.
Apply descriptive and inferential statistical techniques.
Build predictive models using regression and time-series methods.
Derive meaningful business insights and recommendations.
You will complete the project using Python and submit your work via Git/GitHub. At the end, you will not only demonstrate mastery of statistical concepts but also showcase your skills in reproducible analytics and professional reporting.

Dataset Description
The dataset (please find the dataset named “synthetic_retail_data.csv” from the portal) contains approximately 9,500 e-commerce transactions recorded during 2023. Each record represents a customer purchase and includes details on products, pricing, discounts, customer demographics, marketing channels, and purchasing behavior.

Key Variables

InvoiceNo – Unique transaction identifier
CustomerID – Unique customer identifier
Date – Date of purchase (2023)
ProductCategory – Electronics, Clothing, Home, Beauty, Sports, Toys
Quantity – Number of items purchased
UnitPrice – Price per item ($)
DiscountApplied – Discount percentage (0–55%)
ReviewRating – Customer rating (1–5 stars, some missing values)
IsFirstPurchase – Indicator for new vs. returning customers
MarketingChannel – Source of acquisition (Email, Organic, Referral, Ads, Social)
Country – Customer country (USA, UK, Germany, France, Canada, Australia)
TimeOnSite – Time spent on the website before purchase (seconds, some missing values)
ShippingCost – Shipping fee ($)
ItemsInCart – Items added to cart
PreviousSpending – Historical customer spending ($)
BrowsingSessions – Website visits prior to purchase
TotalAmount – Final transaction value including shipping ($)
Notable Characteristics

Seasonal patterns in sales (peaks in May, July, November, and December).
Category differences in pricing and popularity.
Presence of missing values in ReviewRating and TimeOnSite.
Approximately 2% of transactions contain extreme outliers in Quantity or UnitPrice.
 

Project Requirements
Data Preparation
Import and examine the dataset.
Identify missing values and apply appropriate treatment.
Detect and address outliers in dataset.
Prepare data for analysis and modeling.
Descriptive Statistics & Exploratory Analysis
Compute summary statistics (mean, median, mode, variance, standard deviation, IQR).
Generate distribution plots (histograms, boxplots, scatterplots).
Create pivot-style summaries (e.g., revenue by product category, revenue by country).
Probability & Hypothesis Testing
Estimate key probabilities (e.g., likelihood of 5-star review, probability of order value > $1,000).
Conduct hypothesis tests:
Two-Sample t-test: Compare mean spending between first-time and returning customers.
ANOVA: Test whether average spending differs across countries.
Chi-square test: Assess association between marketing channel and customer review ratings.
Confidence Intervals
Construct a 95% confidence interval for average daily revenue.
Construct a 95% confidence interval for average customer review rating.
Correlation & Regression Analysis
Create a correlation matrix of numeric variables.
Fit a multiple linear regression model to predict TotalAmount using predictors from the dataset.
Interpret coefficients and identify the strongest drivers of revenue.
Time Series Analysis
Construct a time series of daily or monthly sales.
Apply moving averages and exponential smoothing to forecast future sales.
Identify seasonal peaks and business trends.
 

Deliverables
You are required to submit a complete project via GitHub containing by October 11, 2025:

Jupyter Notebook / Python Scripts
Clean, well-documented code.
Logical structure aligned with project requirements.
README.md File
Project overview.
Dataset description.
Methods applied.
Summary of findings and key business insights.
Interpretive Commentary or Report (within the external Microsoft word document)
Explanations of results.
Business implications.
 

Grading Rubric
Correctness of Analysis – 16%
Code Quality & GitHub Submission – 8%
Interpretation of Results – 10%
Clarity of Documentation & Presentation – 6%
 

Instructor’s Note
Upon submission, we will conduct a live session demonstrating the same analyses step-by-step in Excel. This session will allow you to cross-validate your Python results, strengthen your conceptual understanding, and focus on translating statistical findings into actionable business recommendations.

Import and examine the dataset.
Identify missing values and apply appropriate treatment.
Detect and address outliers in dataset.
Prepare data for analysis and modeling.

Dropping duplicates (if any)

In [31]:
retail_df.drop_duplicates(inplace=True)

In [32]:
print(retail_df.describe().T)

                   count        mean          std    min       25%        50%  \
Quantity          9500.0    9.166105     5.267773   1.00    6.0000    9.00000
UnitPrice         9500.0   58.459586    42.140771  10.06   31.3500   43.67500
DiscountApplied   9500.0   18.181400    18.531475   0.00    0.0000   13.60000
ReviewRating      7835.0    3.481302     1.062269   1.00    3.0000    4.00000
IsFirstPurchase   9500.0    0.302842     0.459512   0.00    0.0000    0.00000
TimeOnSite        9025.0  299.567878   118.555281  30.00  218.9000  296.80000
ShippingCost      9500.0   10.041306     4.875580   0.00    6.6300    9.96000
ItemsInCart       9500.0    9.671474     3.528830   1.00    7.0000    9.00000
PreviousSpending  9500.0  209.090296   161.318720   0.00    0.0000  241.93000
BrowsingSessions  9500.0    3.064737     1.440587   1.00    2.0000    3.00000
TotalAmount       9500.0  484.463016   940.646765  20.26  199.9175  309.13500
Unnamed: 17          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 18       1229.0  118.408726   324.272927   1.00    9.0000   39.83435
Unnamed: 19          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 20       1229.0  514.096843  1025.410356  17.29  201.3600  322.84000
Unnamed: 21       1229.0  109.913201   323.909985   0.00    0.0000   32.54940
Unnamed: 22       1229.0  414.071367   851.946687  20.26  170.3800  272.66000

                        75%         max
Quantity           11.00000     80.0000
UnitPrice          73.66000    672.4000
DiscountApplied    34.80000     55.0000
ReviewRating        4.00000      5.0000
IsFirstPurchase     1.00000      1.0000
TimeOnSite        379.80000    739.1000
ShippingCost       13.31250     29.3000
ItemsInCart        12.00000     25.0000
PreviousSpending  336.72250    632.0200
BrowsingSessions    4.00000      8.0000
TotalAmount       518.38500  34231.0400
Unnamed: 17             NaN         NaN
Unnamed: 18       143.59062   8560.1224
Unnamed: 19             NaN         NaN
Unnamed: 20       543.72000  18916.2000
Unnamed: 21       135.54695   8550.1224
Unnamed: 22       430.98000  17907.4200

In [33]:
print(retail_df.columns)

Index(['InvoiceNo', 'CustomerID', 'Date', 'ProductCategory', 'Quantity',
       'UnitPrice', 'DiscountApplied', 'ReviewRating', 'IsFirstPurchase',
       'MarketingChannel', 'Country', 'TimeOnSite', 'ShippingCost',
       'ItemsInCart', 'PreviousSpending', 'BrowsingSessions', 'TotalAmount',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [34]:
print(retail_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         9500 non-null   object
 1   CustomerID        9500 non-null   object
 2   Date              9500 non-null   object
 3   ProductCategory   9500 non-null   object
 4   Quantity          9500 non-null   int64
 5   UnitPrice         9500 non-null   float64
 6   DiscountApplied   9500 non-null   float64
 7   ReviewRating      7835 non-null   float64
 8   IsFirstPurchase   9500 non-null   int64
 9   MarketingChannel  9028 non-null   object
 10  Country           9500 non-null   object
 11  TimeOnSite        9025 non-null   float64
 12  ShippingCost      9500 non-null   float64
 13  ItemsInCart       9500 non-null   int64
 14  PreviousSpending  9500 non-null   float64
 15  BrowsingSessions  9500 non-null   int64
 16  TotalAmount       9500 non-null   float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       1229 non-null   float64
 19  Unnamed: 19       0 non-null      float64
 20  Unnamed: 20       1229 non-null   float64
 21  Unnamed: 21       1229 non-null   float64
 22  Unnamed: 22       1229 non-null   float64
dtypes: float64(13), int64(4), object(6)
memory usage: 1.7+ MB
None

In [35]:
print(retail_df.isnull().sum())

InvoiceNo              0
CustomerID             0
Date                   0
ProductCategory        0
Quantity               0
UnitPrice              0
DiscountApplied        0
ReviewRating        1665
IsFirstPurchase        0
MarketingChannel     472
Country                0
TimeOnSite           475
ShippingCost           0
ItemsInCart            0
PreviousSpending       0
BrowsingSessions       0
TotalAmount            0
Unnamed: 17         9500
Unnamed: 18         8271
Unnamed: 19         9500
Unnamed: 20         8271
Unnamed: 21         8271
Unnamed: 22         8271
dtype: int64

In [36]:
# printing variables with missing values
missing_col = [col for col in retail_df.columns if retail_df[col].isnull().sum()>0]
print(missing_col)

['ReviewRating', 'MarketingChannel', 'TimeOnSite', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22']

In [37]:
# printing variables with no value
no_value_col = [col for col in retail_df.columns if retail_df[col].isnull().sum()==retail_df.shape[0]]
print(no_value_col)

['Unnamed: 17', 'Unnamed: 19']

In [38]:
# remove the two columns with no values
retail_df.drop(columns=no_value_col, inplace=True)

In [39]:
print(retail_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         9500 non-null   object
 1   CustomerID        9500 non-null   object
 2   Date              9500 non-null   object
 3   ProductCategory   9500 non-null   object
 4   Quantity          9500 non-null   int64
 5   UnitPrice         9500 non-null   float64
 6   DiscountApplied   9500 non-null   float64
 7   ReviewRating      7835 non-null   float64
 8   IsFirstPurchase   9500 non-null   int64
 9   MarketingChannel  9028 non-null   object
 10  Country           9500 non-null   object
 11  TimeOnSite        9025 non-null   float64
 12  ShippingCost      9500 non-null   float64
 13  ItemsInCart       9500 non-null   int64
 14  PreviousSpending  9500 non-null   float64
 15  BrowsingSessions  9500 non-null   int64
 16  TotalAmount       9500 non-null   float64
 17  Unnamed: 18       1229 non-null   float64
 18  Unnamed: 20       1229 non-null   float64
 19  Unnamed: 21       1229 non-null   float64
 20  Unnamed: 22       1229 non-null   float64
dtypes: float64(11), int64(4), object(6)
memory usage: 1.5+ MB
None

In [41]:
#list of variables with missing values with total number of missing values 
missing_col = {col: retail_df[col].isnull().sum() for col in retail_df.columns if retail_df[col].isnull().sum()>0}
print(missing_col)

{'ReviewRating': np.int64(1665), 'MarketingChannel': np.int64(472), 'TimeOnSite': np.int64(475), 'Unnamed: 18': np.int64(8271), 'Unnamed: 20': np.int64(8271), 'Unnamed: 21': np.int64(8271), 'Unnamed: 22': np.int64(8271)}

Considering the size of the data, four of which doesn't seem to have adequate sample size. I believe we can exclude it from the analysis. (unnamed 18, 20, 21, 22)

In [42]:
# removme columns with too many missing values
retail_df.drop(columns=['Unnamed: 18', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'], inplace=True)
print(retail_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         9500 non-null   object
 1   CustomerID        9500 non-null   object
 2   Date              9500 non-null   object
 3   ProductCategory   9500 non-null   object
 4   Quantity          9500 non-null   int64
 5   UnitPrice         9500 non-null   float64
 6   DiscountApplied   9500 non-null   float64
 7   ReviewRating      7835 non-null   float64
 8   IsFirstPurchase   9500 non-null   int64
 9   MarketingChannel  9028 non-null   object
 10  Country           9500 non-null   object
 11  TimeOnSite        9025 non-null   float64
 12  ShippingCost      9500 non-null   float64
 13  ItemsInCart       9500 non-null   int64
 14  PreviousSpending  9500 non-null   float64
 15  BrowsingSessions  9500 non-null   int64
 16  TotalAmount       9500 non-null   float64
dtypes: float64(7), int64(4), object(6)
memory usage: 1.2+ MB
None

In [44]:
final_missing_col = {col: retail_df[col].isnull().sum() for col in retail_df.columns if retail_df[col].isnull().sum()>0}
print(final_missing_col)

{'ReviewRating': np.int64(1665), 'MarketingChannel': np.int64(472), 'TimeOnSite': np.int64(475)}

In [51]:
# print characteristic of the three columns with missing values
print(retail_df['ReviewRating'].describe())
print(retail_df['MarketingChannel'].describe()) 
print(retail_df['TimeOnSite'].describe())

count    7835.000000
mean        3.481302
std         1.062269
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: ReviewRating, dtype: float64
count      9028
unique        5
top       Email
freq       2768
Name: MarketingChannel, dtype: object
count    9025.000000
mean      299.567878
std       118.555281
min        30.000000
25%       218.900000
50%       296.800000
75%       379.800000
max       739.100000
Name: TimeOnSite, dtype: float64

In [53]:
print(retail_df['ReviewRating'].describe())
print(retail_df['ReviewRating'].info())
print("Mode", retail_df['ReviewRating'].mode())
print("Median", retail_df['ReviewRating'].median())

count    7835.000000
mean        3.481302
std         1.062269
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: ReviewRating, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 9500 entries, 0 to 9499
Series name: ReviewRating
Non-Null Count  Dtype
--------------  -----
7835 non-null   float64
dtypes: float64(1)
memory usage: 74.3 KB
None
Mode 0    4.0
Name: ReviewRating, dtype: float64
Median 4.0

In [55]:
# Both median and mode are 4.0. We will replace the missing values with 4.0 in Review rating. 
retail_df['ReviewRating'].fillna(4.0)

0       4.0
1       2.0
2       5.0
3       3.0
4       4.0
       ...
9495    4.0
9496    4.0
9497    4.0
9498    4.0
9499    3.0
Name: ReviewRating, Length: 9500, dtype: float64

In [57]:
print(retail_df["ReviewRating"].isnull().sum())

0

In [58]:
print(retail_df["ReviewRating"].info())

<class 'pandas.core.series.Series'>
RangeIndex: 9500 entries, 0 to 9499
Series name: ReviewRating
Non-Null Count  Dtype
--------------  -----
9500 non-null   float64
dtypes: float64(1)
memory usage: 74.3 KB
None

In [60]:
print(retail_df["MarketingChannel"].info())

<class 'pandas.core.series.Series'>
RangeIndex: 9500 entries, 0 to 9499
Series name: MarketingChannel
Non-Null Count  Dtype
--------------  -----
9028 non-null   object
dtypes: object(1)
memory usage: 74.3+ KB
None

In [61]:
print(retail_df["MarketingChannel"].describe())

count      9028
unique        5
top       Email
freq       2768
Name: MarketingChannel, dtype: object

In [62]:
print(retail_df["MarketingChannel"].mode())

0    Email
Name: MarketingChannel, dtype: object

In [76]:
# replace missing value with mode "Email" in MarketingChannel
retail_df["MarketingChannel"]= retail_df["MarketingChannel"].fillna("Email")

In [64]:
print(retail_df["TimeOnSite"].info())
print(retail_df["TimeOnSite"].describe())
print(retail_df["TimeOnSite"].mode())

<class 'pandas.core.series.Series'>
RangeIndex: 9500 entries, 0 to 9499
Series name: TimeOnSite
Non-Null Count  Dtype
--------------  -----
9025 non-null   float64
dtypes: float64(1)
memory usage: 74.3 KB
None
count    9025.000000
mean      299.567878
std       118.555281
min        30.000000
25%       218.900000
50%       296.800000
75%       379.800000
max       739.100000
Name: TimeOnSite, dtype: float64
0    30.0
Name: TimeOnSite, dtype: float64

In [71]:
# calculate median and mode of TimeOnSite
print(retail_df["TimeOnSite"].median())
print(retail_df["TimeOnSite"].mode())

296.8
0    30.0
Name: TimeOnSite, dtype: float64

In [74]:
# we will replace the missing value with mean of the column inplace of it
retail_df["TimeOnSite"]=  retail_df["TimeOnSite"].fillna(retail_df["TimeOnSite"].mean())

In [77]:
#check if there is any missing value remaining 
print(retail_df.isnull().sum())

InvoiceNo           0
CustomerID          0
Date                0
ProductCategory     0
Quantity            0
UnitPrice           0
DiscountApplied     0
ReviewRating        0
IsFirstPurchase     0
MarketingChannel    0
Country             0
TimeOnSite          0
ShippingCost        0
ItemsInCart         0
PreviousSpending    0
BrowsingSessions    0
TotalAmount         0
dtype: int64