In [1]:
# G1 Capstone Project_Stat

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
retail_df = pd.read_csv('D:\Data Science bootcamp\Git\stat_capstone\synthetic_retail_data.csv')
print(retail_df.head())

   InvoiceNo CustomerID      Date ProductCategory  Quantity  UnitPrice  \
0  INV105646   CUST1810  1/1/2023            Home         7      67.88
1  INV105099   CUST1530  1/1/2023            Toys         6      24.22
2  INV102818   CUST1701  1/1/2023     Electronics         6     158.78
3  INV107351   CUST1323  1/1/2023     Electronics         5     102.23
4  INV108415   CUST1406  1/1/2023     Electronics         8      62.32

   DiscountApplied  ReviewRating  IsFirstPurchase MarketingChannel  ...  \
0             44.6           4.0                0          Organic  ...
1              0.0           2.0                1           Social  ...
2             25.9           5.0                1            Email  ...
3             39.0           3.0                1           Social  ...
4             26.7           4.0                0            Email  ...

  ItemsInCart  PreviousSpending  BrowsingSessions  TotalAmount  Unnamed: 17  \
0           7            186.55                 3       270.08          NaN
1           8              0.00                 3       155.16          NaN
2           6              0.00                 3       719.29          NaN
3           6              0.00                 5       324.19          NaN
4           8            371.94                 4       387.06          NaN

   Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  Unnamed: 22
0    218.92136          NaN       475.16    211.92136       270.08
1      8.00000          NaN       145.32      0.00000       155.16
2    252.74412          NaN       952.68    246.74412       719.29
3    205.34850          NaN       511.15    199.34850       324.19
4    141.11552          NaN       498.56    133.11552       387.06

[5 rows x 23 columns]

In [4]:
print(retail_df.info())
print(retail_df.describe().T)
print(retail_df.isnull().sum())
print(retail_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         9500 non-null   object
 1   CustomerID        9500 non-null   object
 2   Date              9500 non-null   object
 3   ProductCategory   9500 non-null   object
 4   Quantity          9500 non-null   int64
 5   UnitPrice         9500 non-null   float64
 6   DiscountApplied   9500 non-null   float64
 7   ReviewRating      7835 non-null   float64
 8   IsFirstPurchase   9500 non-null   int64
 9   MarketingChannel  9028 non-null   object
 10  Country           9500 non-null   object
 11  TimeOnSite        9025 non-null   float64
 12  ShippingCost      9500 non-null   float64
 13  ItemsInCart       9500 non-null   int64
 14  PreviousSpending  9500 non-null   float64
 15  BrowsingSessions  9500 non-null   int64
 16  TotalAmount       9500 non-null   float64
 17  Unnamed: 17       0 non-null      float64
 18  Unnamed: 18       1229 non-null   float64
 19  Unnamed: 19       0 non-null      float64
 20  Unnamed: 20       1229 non-null   float64
 21  Unnamed: 21       1229 non-null   float64
 22  Unnamed: 22       1229 non-null   float64
dtypes: float64(13), int64(4), object(6)
memory usage: 1.7+ MB
None
                   count        mean          std    min       25%        50%  \
Quantity          9500.0    9.166105     5.267773   1.00    6.0000    9.00000
UnitPrice         9500.0   58.459586    42.140771  10.06   31.3500   43.67500
DiscountApplied   9500.0   18.181400    18.531475   0.00    0.0000   13.60000
ReviewRating      7835.0    3.481302     1.062269   1.00    3.0000    4.00000
IsFirstPurchase   9500.0    0.302842     0.459512   0.00    0.0000    0.00000
TimeOnSite        9025.0  299.567878   118.555281  30.00  218.9000  296.80000
ShippingCost      9500.0   10.041306     4.875580   0.00    6.6300    9.96000
ItemsInCart       9500.0    9.671474     3.528830   1.00    7.0000    9.00000
PreviousSpending  9500.0  209.090296   161.318720   0.00    0.0000  241.93000
BrowsingSessions  9500.0    3.064737     1.440587   1.00    2.0000    3.00000
TotalAmount       9500.0  484.463016   940.646765  20.26  199.9175  309.13500
Unnamed: 17          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 18       1229.0  118.408726   324.272927   1.00    9.0000   39.83435
Unnamed: 19          0.0         NaN          NaN    NaN       NaN        NaN
Unnamed: 20       1229.0  514.096843  1025.410356  17.29  201.3600  322.84000
Unnamed: 21       1229.0  109.913201   323.909985   0.00    0.0000   32.54940
Unnamed: 22       1229.0  414.071367   851.946687  20.26  170.3800  272.66000

                        75%         max
Quantity           11.00000     80.0000
UnitPrice          73.66000    672.4000
DiscountApplied    34.80000     55.0000
ReviewRating        4.00000      5.0000
IsFirstPurchase     1.00000      1.0000
TimeOnSite        379.80000    739.1000
ShippingCost       13.31250     29.3000
ItemsInCart        12.00000     25.0000
PreviousSpending  336.72250    632.0200
BrowsingSessions    4.00000      8.0000
TotalAmount       518.38500  34231.0400
Unnamed: 17             NaN         NaN
Unnamed: 18       143.59062   8560.1224
Unnamed: 19             NaN         NaN
Unnamed: 20       543.72000  18916.2000
Unnamed: 21       135.54695   8550.1224
Unnamed: 22       430.98000  17907.4200
InvoiceNo              0
CustomerID             0
Date                   0
ProductCategory        0
Quantity               0
UnitPrice              0
DiscountApplied        0
ReviewRating        1665
IsFirstPurchase        0
MarketingChannel     472
Country                0
TimeOnSite           475
ShippingCost           0
ItemsInCart            0
PreviousSpending       0
BrowsingSessions       0
TotalAmount            0
Unnamed: 17         9500
Unnamed: 18         8271
Unnamed: 19         9500
Unnamed: 20         8271
Unnamed: 21         8271
Unnamed: 22         8271
dtype: int64
0